/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.main_container {
  width: 100%;
  height: 100%;
  border: 2px solid red;
}
.main_container .top_nav_container {
  width: 100%;
  height: 50px;
  display: flex;
}
.main_container .top_nav_container .social_containers {
  width: 50%;
  height: 50px;
}
.main_container .top_nav_container .social_containers .social {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main_container .top_nav_container .social_containers .social i {
  font-size: 20pt;
  margin-right: 10%;
}
.main_container .top_nav_container .nav_container {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main_container .top_nav_container .nav_container nav a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  text-decoration: none;
  color: grey;
  margin-right: 3.75rem;
}
.main_container .top_logo_container {
  width: 100%;
  height: 100px;
  border: 1px dashed lightgray;
  display: flex;
}
.main_container .top_logo_container .logo_container {
  width: 25%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.main_container .top_logo_container .logo_container img {
  width: 200px;
  height: 96px;
}
.main_container .top_logo_container .middle_nav_container {
  width: 50%;
  height: 98px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main_container .top_logo_container .middle_nav_container a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  text-decoration: none;
  color: grey;
  margin-right: 3.75rem;
}
.main_container .middle_container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_container .middle_container .header_img_container {
  width: 100%;
  height: 600px;
}
.main_container .middle_container .header_img_container .header_img {
  width: 100%;
  height: 600px;
  background: url(../img/church-of-the-king-635531-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main_container .middle_container .middle_box_container {
  width: 600px;
  height: 300px;
  margin-top: -150px;
  display: flex;
}
.main_container .middle_container .middle_box_container .section1 {
  width: 50%;
  height: 300px;
}
.main_container .middle_container .middle_box_container .section2 {
  width: 50%;
  height: 300px;
}
.main_container .middle_content_container1 {
  width: 100%;
  height: 500px;
}
.main_container .middle_content_container1 .middle_content1 {
  width: 100%;
  height: 500px;
}
.main_container .middle_content_container2 {
  width: 100%;
  height: 600px;
}
.main_container .middle_content_container2 .middle_content_2 {
  width: 100%;
  height: 600px;
}
.main_container .middle_content_container3 {
  width: 100%;
  height: 600px;
}
.main_container .middle_content_container3 .middle_content_3 {
  width: 100%;
  height: 600px;
}
.main_container .checkout_btn_container {
  width: 100%;
  height: 100px;
}
footer {
  width: 100%;
  height: 100px;
}
